<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html"
>
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
  <div layout:fragment="content">
      <div class="p-3">
          <div class="card">
              <div class="card-header">Liste Patients</div>
              <div class="card-body">
                  <form method="get" th:action="@{index}">
                      <label>Keyword:</label>
                      <input type="text" name="keyword" th:value="${keyword}">
                      <button type="submit" class="btn btn-info">
                          <i class="bi bi-search"></i>
                      </button>
                  </form>
                  <table class="table">
                      <thead>
                      <tr>
                          <th>ID</th> <th>Nom</th> <th>Date</th> <th>Malade</th> <th>Score</th>
                      </tr>
                      <tr th:each="p:${listPatients}">
                          <td th:text="${p.id}"></td>
                          <td th:text="${p.nom}"></td>
                          <td th:text="${p.dateNaissance}"></td>
                          <td th:text="${p.malade}"></td>
                          <td th:text="${p.score}"></td>
                          <td>
                              <a onclick="javascript:return confirm('Etes vous sure?')"
                                 th:href="@{delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}" class="btn btn-danger">
                                  <i class="bi bi-trash"></i>
                              </a>
                          </td>
                          <td>
                              <a class="btn btn-success"
                                 th:href="@{/editPatient(id=${p.id})}">Edit</a>
                          </td>
                      </tr>
                      </thead>
                  </table>
              </div>
              <div class="card-footer d-flex justify-content-center">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination m-0">
                          <li class="page-item" th:if="${!isFirstPage}">
                              <a class="page-link" th:href="@{/index(keyword=${keyword},page=${1})}">First Page</a>
                          </li>
                          <li class="page-item" th:if="${!isFirstPage}">
                              <a class="page-link" th:href="@{/index(keyword=${keyword},page=${currentPage})}"><span aria-hidden="true">&laquo;</span></a>
                          </li>
                          <li class="page-item" th:each="v,item : ${pages}" th:classappend="${item.index==currentPage}?active:''"
                              th:if="${item.index==currentPage} or
                               ${item.index==currentPage+1} or
                               ${item.index==currentPage -1} or
                              (${item.first} and ${item.index+2>currentPage}) or
                              (${item.last} and ${item.index -2<currentPage})">
                              <a class="page-link" th:href="@{/index(page=${item.count},keyword=${keyword})}" th:text="${item.count}"></a>
                          </li>
                          <li class="page-item" th:if="${!isLastPage}">
                              <a class="page-link" th:href="@{/index(keyword=${keyword},page=${currentPage +2})}"><span aria-hidden="true">&raquo;</span></a>
                          </li>
                          <li class="page-item" th:if="${!isLastPage}">
                              <a class="page-link" th:href="@{/index(keyword=${keyword},page=${totalPages})}">Last Page</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</body>
</html>